<div class="container">
  <nav class="md-toolbar-tools">
    <h1 class="md-flex">Seja bem-vindo ao leilão eletrônico!</h1>
  </nav>
  <article class="content-article">
    <div [ngClass] = "(errorType != 0 && errorType != -999) ? 'error-message' : ''">{{errorMessage}}</div>
    <section class="form-section">
      <div class="name-form">
        <mat-label>Digite o seu Nome</mat-label>
        <mat-form-field class="input-name-form" appearance="fill">
          <input #name (keyup)="validatorName(name.value)" (blur)="validatorName(name.value)" matInput placeholder="Nome" maxlength="100" required>
        </mat-form-field>
      </div>
    </section>

    <section class="button-section">
      <button mat-stroked-button color="primary" (click)="callRouter('/offer-product')" [disabled]="errorType != 0">Ofertar Produto</button>
      <button mat-stroked-button color="primary" (click)="callRouter('/bids')"  [disabled]="errorType != 0">Dar Lances</button>
    </section>
  </article>
</div>
